<div class="condition-row">
  <div class="condition-head">
    <input type="text" name="cond-{{ index }}-name" required
           placeholder="Condition name (required)">
    <button type="button" class="remove-row"
            onclick="removeConditionRow(this)">Remove</button>
  </div>
  <div class="condition-files">
    <label class="file-pick">
      <span>Treated reads (required)</span>
      <input type="file" name="cond-{{ index }}-treated" data-role="treated" multiple
             accept=".fastq,.fq,.gz,.bam" required>
    </label>
    <label class="file-pick">
      <span>Untreated background (optional)</span>
      <input type="file" name="cond-{{ index }}-untreated" data-role="untreated" multiple
             accept=".fastq,.fq,.gz,.bam">
    </label>
    <label class="file-pick">
      <span>Denatured control (optional)</span>
      <input type="file" name="cond-{{ index }}-denatured" data-role="denatured" multiple
             accept=".fastq,.fq,.gz,.bam">
    </label>
  </div>
</div>
